<mat-sidenav-container class="dashboard-container">
  <mat-sidenav [opened]="isSidenavOpen()" mode="side" class="sidenav">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
