.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer; /* Makes the element look clickable */
}

.spacer {
  flex: 1 1 auto;
}
